  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail"><img src = "{{post.image}}"; style="width: 242px; height: 200px;" alt="...">
      <div class="caption">
        <h4>{{ post.title }}</h4>
        <p>{{ post.summary }}</p>
        <p class="commentamount"><b>Comments:</b> {{ post.getComments|length }} </p>
        <p>Posted by: <b>{{post.user}}</b> <br>
        <i>{{ post.timestamp }}</i></p>
        <form class="" role="logout" action="" method="get">
		      <input type="hidden" name="loadview" value="post">
      		<button type="submit" class="btn btn-info btn-sm" name="readmore" value="{{ post.id }}">Read more</button>
      	</form>
      </div>
    </div>
  </div>
