<div class="container-fluid">

	<div class="row" id="post-container">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-10">
					<h2>{{ dataBase.posts.0.title|title }}</h2>
				</div>
				
				<div class="col-xs-10 italic mrg-btm-15">
					<b>Posted by</b>: {{ dataBase.posts.0.user }} on {{ dataBase.posts.0.timestamp }}
				</div>

				<div class="col-xs-10">
					{{ dataBase.posts.0.content }}  </p>
					<img style="max-width: 800px;" src = {{dataBase.posts.0.image }} >						
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="tags-container">
		<div class="col-xs-10">
			<h4>Post tags</h4>
			<!-- Fetch tags related to post -->
			{% for tag in dataBase.posts.0.tags %}
				<form class="tag-form" action="" method="get">
		    		<input  type="hidden" name="loadview" value="tagresults">
		    		<button type="submit" name="tag" value="{{ tag.id }}" class="tag-btn"> {{ tag.name }} </button>
	    		</form>
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">
			{% include 'comment.twig' %}
		</div>
	</div>

	<div class="row" id="comment-container">
		<div class="col-xs-10 mrg-btm-25">
			<h3>Comments</h3>
			<!-- Fetch comments related to post -->
			{% for comment in dataBase.posts.0.getComments %}
				<div class="row mrg-btm-10">
					<div class="col-xs-10" >
						<h4>{{comment.signature}}:</h4>
						<p>{{comment.content}}</p>
						<p><i>{{comment.date}}</i></p>
						<hr>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</div>

