<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h2>{{ attribute(dataBase.posts, readmore).title }}</h2>
				</div>
				<div class="col-xs-8 col-xs-offset-2 mrg-btm-15">
					<!--$img-->
					<!--$content?-->
					<p>{{ attribute(dataBase.posts, readmore).content }}</p>
				</div>
				<div class="col-xs-8 col-xs-offset-2 italic mrg-btm-15">
					{{ attribute(dataBase.posts, readmore).author }} - datum {{ attribute(dataBase.posts, readmore).timestamp }}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			{% for comment in attribute(dataBase.posts, readmore).getComments %}
				<h4>{{comment.signature}} Commented:</h4>
				<p>{{comment.content}}</p>
			{% endfor %}
			</div>
		</div>
	</div>

