<div class="container-fluid">
	<div class="row" id="post-container">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-10 scroll">
					<h2>{{ dataBase.posts.0.title }}</h2>
				</div>
				
				<div class="col-xs-10 italic mrg-btm-15 scroll">
					<b>Posted by</b>: {{ dataBase.posts.0.user }} on {{ dataBase.posts.0.timestamp }}
				</div>

				<div class="col-xs-10 scroll">
					<p>{{ dataBase.posts.0.content }}</p>
					<img style="max-width: 800px;" src = {{dataBase.posts.0.image }} >						
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">
			{% include 'comment.twig' %}
		</div>
	</div>

	<div class="row" id="comment-container">
		<div class="col-xs-10 mrg-btm-25 scroll">
			{% for comment in dataBase.posts.0.getComments %}
			<div class="row mrg-btm-10">
				<div class="col-xs-10 scroll" >
					<h4>{{comment.signature}} Commented:</h4>
					<p>{{comment.content}}</p>
					<p>{{comment.date}}</p>
					<hr>
				</div>
			</div>
			{% endfor %}
			<h4>Post connected to tags:</h4>
			{% for tag in dataBase.posts.0.tags %}
				<p> {{ tag.Name }} </p>
			{% endfor %}
			</div>
		</div>
	</div>

