<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<h2>{{ dataBase.posts.0.title }}</h2>
				</div>
				<div class="col-xs-8 col-xs-offset-2 mrg-btm-15">
					<!--$img-->
					<p>{{ dataBase.posts.0.content }}</p>
				</div>
				<div class="col-xs-8 col-xs-offset-2 italic">
					<b>Posted by</b>: {{ dataBase.posts.0.user }} - datum {{ dataBase.posts.0.timestamp }}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2"><hr>
			{% include 'comment.twig' %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			{% for comment in dataBase.posts.0.getComments %}
				<h4>{{comment.signature}} Commented:</h4>
				<p>{{comment.content}}</p>
			{% endfor %}
			</div>
		</div>
	</div>

