<div class="container-fluid">
	<div class="row">
{# 		{{ searchInput }}
 #}		<div class="col-sm-12">
 		<h2>Search results for: {{ dataBase.searchInput }}</h2>
 		<p>Amount of posts related to your search: {{ dataBase.posts|length }}</p>
			{% for post in dataBase.posts %}
				<div id="search-result-summary" style="margin-top: 40px; line-height: 25px;">
					<h4><b>Title: {{ post.title }} </b><br></h4>
					<b>Author:</b><p style="display: inline;"> {{ post.author }}</p>
					<p>{{ post.timestamp }}</p>
					<p>{{ post.summary }}</p>
					<p style="display: inline-block">Amount of comments: {{ post.getComments|length }}</p><br>
		      		<form class="" role="logout" action="" method="get">
		      			<button type="submit" class="btn btn-info btn-sm" name="readmore" value="{{ post.id }}">Read more</button>
		      		</form>
					<hr>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
